/* Custom CSS Stylesheet */


/* Head (Top of Page) */

.jumbotron {
    padding: 30px;
    background-image: linear-gradient(to right, #bd97d3, #3046C5, #04aaaa);
    color: rgb(70, 68, 68);;
    margin: 0;
}

.row-content {
    padding: 0;
    border-bottom: 1px ridge;
    min-height: 200px;
}

/* Top Navigation Bar */

.navbar {
    background-color: cornflowerblue;
}



li a {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bolder;
    font-size: larger;
}

form .form-inline {
  float: right;
  width: 300px;
  padding: 0.3px;
  text-align: center;
  margin: 5.2px;
  background-color: whitesmoke;
}

ul li:last-child {
  position: absolute;
  right: 0;
  top: 0;
  margin: 15px;
  padding: 0;
}


/* Headers */

.topStoriesHeader {
  padding-top: 15px;
  
}

/*Grid Positioning
#fixedGrid {
  position: absolute;
  bottom: 0;
  right: 0;
}*/

/* Sizing Carousel Images */
.carousel-inner {
    width:100%;
    max-height: 400px;
    margin-top: 2%;
    margin-right: 1%;
  }